<section id="artists" class="art-section">
  <div class="container">
    <h2 class="art-main">Artists</h2>
    <h3 class="art-main-title">
      Explore Your New<br />
      Favorite Artists
    </h3>
    <ul class="art-list-card"></ul>
    <button class="art-btn-loadMore hidden">
      Load More
      <svg class="icon" width="24" height="24">
        <use href="./../../img/symbol-defs.svg#icon-down-arrow-alt"></use>
      </svg>
    </button>
    <span class="loader"></span>
  </div>
</section>