<section class="feedback-section" id="reviews">
  <div class="swiper feedback-swiper">
    <div class="swiper-wrapper" id="feedback-list">
      <!-- Отзывы будут здесь -->
    </div>

    <!-- Навигация -->
    <div class="swiper-button-prev feedback-arrow">&#10094;</div>
    <div class="swiper-button-next feedback-arrow">&#10095;</div>

    <!-- Кастомная пагинация -->
    <div class="custom-pagination">
      <span class="dot first"></span>
      <span class="dot middle active"></span>
      <span class="dot last"></span>
    </div>
  </div>
</section>
