<section class="feedback-section" id="reviews">
  <div class="swiper feedback-swiper">
    <div class="swiper-wrapper" id="feedback-list"></div>

    <div class="swiper-button-prev feedback-arrow">
      <svg class="icon">
        <use href="img/symbol-defs.svg#icon-left-arrow-alt"></use>
      </svg>
    </div>

    <div class="swiper-button-next feedback-arrow">
      <svg class="icon">
        <use href="img/symbol-defs.svg#icon-right-arrow-alt"></use>
      </svg>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>
