<header class="header">
  <div class="container">
    <div class="logo">
      <a href="#" class="logo-link">
        <svg class="header-logo-icon" role="img">
          <use href="/img/symbol-defs.svg#icon-Company-Logo"></use>
        </svg>
      </a>
    </div>

    <nav class="header-nav">
      <ul class="nav-list">
        <li><a class="nav-link" href="#artists">Artists</a></li>
        <li><a class="nav-link" href="#about-us">About Us</a></li>
        <li><a class="nav-link" href="#reviews">Reviews</a></li>
      </ul>
    </nav>

    <button class="header-burger-btn" type="button" data-menu-open>
      <svg class="header-burger-icon">
        <use href="/img/symbol-defs.svg#icon-menu-alt-right"></use>
      </svg>
    </button>
  </div>
</header>
