.header {
  position: fixed;

  top: 0;
  z-index: 200;
  height: 64px;
  background-color: transparent;
  width: 100%;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  transition: fill 250ms ease;
  cursor: pointer;
}

.header-logo-icon {
  width: 119px;
  height: 51px;
}

.header-nav {
  display: none;
}

/* Бургер для мобільного */
.header-burger-btn {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-burger-icon {
  fill: none;
  stroke: #fbfbfb;
  width: 24px;
  height: 24px;
  display: block;
}

/* ===== TABLET (≥768px) ===== */
@media (min-width: 768px) {
  .header {
    position: fixed;
    width: 100%;
    background-color: transparent;
  }

  .header .container {
    padding: 10.5px 32px;
  }

  .logo-link {
    width: 188px;
    height: 75px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease;
  }

  .header-logo-icon {
    filter: brightness(0) invert(1);
    transition: filter 250ms ease;
  }

  .header-burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    gap: 32px;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-link {
    display: flex;
    padding: 12px 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    font-family: 'IBM Plex Sans', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    background: transparent;
    border: none;
    transition: opacity 250ms ease;
  }

  .nav-link:hover {
    opacity: 0.6;
  }

  .nav-link:focus {
    opacity: 0.2;
    outline: none;
  }

  .header .logo {
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .header .container {
    padding: 10.5px 64px;
  }
}
